@import '../../styles/variables.less';
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 1280px;
  .header {
    width: 100%;
    padding: 0;
    background: @white;
    .logo {
      float: left;
      width: 120px;
      height: 31px;
      line-height: 31px;
      margin: 16px 24px;
      font-size: @biggestFontSize;
      font-family: 'Gill Sans', sans-serif;
      text-align: center;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.65);
    }
    // .ant-menu-item.ant-menu-item-selected,
    // .ant-menu-item:hover {
    //   border-bottom: none;
    // }

    // .ant-menu-item.ant-menu-item-selected::after {
    //   content: '';
    //   position: absolute;
    //   width: 60px;
    //   height: 2px;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   background: @primary;
    // }
  }
  .content {
    flex: 1;
  }
}
